html {
    scroll-behavior: smooth;
  
  body {
    background-image: url("../images/cityBG.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    padding: 0;

    
  }
}
  
 
  